.shell {
  width: 75vw;
  height: 78vh;
  margin-top: 3%;
  background-color: black;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}

h2 {
  color: #bc8f8f;
  font-size: 2rem;
  letter-spacing: 4px;
  margin-left: 0.3rem;
  display: inline-block;
}

.icon {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  color: #20b2aa;
}

.symbol {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  background-color: #556b2f;
}

@media only screen and (min-width: 600px) {
  .shell {
    width: 60vw;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 599px) {
  .shell {
    width: 83vw;
    right: 6%;
  }
}
