:root {
  font-size: 16px;
}

body {
  background-image: url(./assets/image-from-rawpixel-id-2208597-jpeg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: #2f4f4f;
}

body::-webkit-scrollbar-thumb {
  background: #6b8e23;
}

main {
  margin-left: 5rem;
}

@media only screen and (max-width: 950px) {
  body {
    background-size: 1150px;
  }
}
